@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: verdana, geneva, tahoma, sans-serif;
    --fonte2: "Sriracha", cursive;
    --fonte3: "Passion One", sans-serif;


}

*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100%;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: aliceblue;
    text-align: center;

}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 10vw;
    
}

header > p{
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 3.5vw;
    
}

section > p{
    padding-bottom: 3.5em;
}

.normal{
    background-color: aliceblue;
    color: black;
}

.imagem{
    background-size: cover;
    color: aliceblue;
    background-color: black;
    box-shadow: inset 6px 6px 15px 0px rgba(0, 0, 0, 0.345);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.438);
    padding: 30px;
    text-shadow: 2px 2px 0px black; 
   
    display: inline-block;
}

#flores{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    
}

#livro{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 10px;
}